# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 1. 忽略所有名為 .env 的檔案（標準做法）
.env
# 2. 使用否定模式 (Negation Pattern) 重新追蹤 .env.example
!*.example